*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body > header{
    background-color: brown;
    padding: 16px 0;
    color: white;
    font-size: 25px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
}
header li {
    display: inline;
}

header li a{
    color: white;
    margin-right: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

header li a:hover{
    text-decoration:underline;
}

.container {
    max-width: 100%;;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
   width: 100%;

}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color:white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 34px;
}

#esportes{
    background-color: chartreuse;
}

#esportes .articles article a{
    background-color: rgb(25, 156, 42);
}

#economia{
    background-color: chocolate;
}

#economia .articles article a{
    background-color:brown ;
}

#tecnologia{
    background-color: rgb(165, 58, 90);
}

#tecnologia .articles article a{
    background-color: crimson;
}

#agro{
    background-color: darkseagreen;
}

#agro .articles article a{
    background-color: darkgreen;
}